[2020-05-10 20:48] bismitaguha opened #1 "Docs: Add README and Setup instructions"
### Is your feature request related to a problem? Please describe.
- There is no guide for what this repository is meant for.
- No guidelines to setup this project.

### Describe the solution you'd like
- Add an initial `README.md` which describes the purpose of the repository, with relevant links.
- Add a `SETUP.md` with instructions to set up this project, with required libraries and packages fo

[2020-05-10 20:50] #1 closed, assigned to nobody

[2020-05-19 14:57] Monal5031 commented on #1
@bismitaguha why close?

[2020-05-31 20:23] abha224 opened #2 "Create back-end model classes for registration and login"
## Description
As a developer,I need to create model classes for registration and login according to the database schema, so that I can use it for retrieving data.

## Mocks
![db-structure-osp (2)](https://user-images.githubusercontent.com/39526159/83361868-a1ebce80-a39d-11ea-8f5e-d030acdd2c9b.png)

### Update [Required]
- [ ] create UserModel
- [ ] create UserInformationModel

## Definition of Do

[2020-06-01 06:19] abha224 opened #3 "development: Create API for registration."
### Is your feature request related to a problem? Please describe.
The new users should be able to register with OSP to be able to use it. Create an API for user registration for the OSP backend. The API would create a new user and redirect to the user dashboard.

### Describe the solution you'd like
- If registration is complete the user receives proper feedback - The user needs to confirm the em

[2020-06-01 07:18] abha224 opened #4 "Final Phase"
## Description
As a user , I need to be able to register/login with the OSP website.

[2020-06-01 07:29] abha224 opened #5 "django project setup"
## Description
Setup the Django rest framework project for OSP and create the required directory structure.

## Acceptance Criteria
- [ ] create a base setup for Django project
- [ ] add necessary dependencies
- [ ] the server should be up and running

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

## Estimation
1 day

[2020-06-01 16:15] Monal5031 opened #7 "As an Admin, I should be able to share forms with the other users."
## Description
As an Admin, I should be able to share forms with the other users.

## Mocks
N/A

## Acceptance Criteria
### Update [Required]
- [ ] Send form questions as Response]
- [ ]  Generate a unique link for each form
- [ ] Automated tests for retrieval of form via unique link

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

## Estimation
1.

[2020-06-01 16:23] Monal5031 opened #8 "As an Admin, I can close the form in order to stop the responses."
## Description
As an Admin, I can close the form in order to stop the responses.

## Mocks
N/A

## Acceptance Criteria
### Update [Required]
- [ ] Set the allowed response field to False
- [ ] Add checks to prevent any new form feedback
- [ ] Write tests

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

## Estimation
1 day

[2020-06-01 16:29] #7 closed, assigned to bismitaguha

[2020-06-01 16:30] Monal5031 commented on #7
No BE change needed

[2020-06-01 16:32] Monal5031 opened #9 "As an User, I am able to view the form via link."
## Description

As an User, I am able to view the form via link.

## Mocks
N/A

## Acceptance Criteria
### Update [Required]
- [ ] Send form questions as Response
- [ ] Add checks for users who already filled
- [ ] Add checks for when form is closed or deleted
- [ ] Write tests

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

## Estimation
1.5 days

[2020-06-01 16:38] Monal5031 opened #10 "As an User, I am able to upload files to OSP"
## Description
As an User, I am able to upload files to OSP

## Mocks
N/A

## Acceptance Criteria
### Update [Required]
- [ ] Add boto to requirements
- [ ] Write script to use boto to upload media to AWS bucket
- [ ] Store the link of the media in models
- [ ] Write tests

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

## Estimation
3-4 days

[2020-06-01 16:58] Monal5031 opened #11 "As an User, I am able to fill the form"
## Description
As an User, I am able to fill the form

## Mocks
n/a

## Acceptance Criteria
### Update [Required]
- [ ] Create models for form feedback
- [ ] Create viewsets for form feedback
- [ ] Create serializers for form feedback
- [ ] Crate endpoints for form feedback
- [ ] Write tests
- [ ] Add checks for form feedback

## Definition of Done
- [ ] All of the required items are completed.
-

[2020-06-01 17:00] Monal5031 opened #12 "As an User, I am able to edit the form responses"
## Description
As an User, I am able to edit the form responses

## Mocks
n/a

## Acceptance Criteria
### Update [Required]
- [ ] Add endpoint to edit existing form
- [ ] Add checks for form valid or form not closed
- [ ] Write tests
- [ ] Link the new questions/answers correctly

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

## Estimation
2 days

[2020-06-01 17:02] Monal5031 opened #13 "As an User, I am able to view my form submissions"
## Description
As an User, I am able to view my form submissions

## Mocks
n/a

## Acceptance Criteria
### Update [Required]
- [ ] Endpoint for listing all form feedbacks
- [ ] Add query param for user to filter only his form submissions
- [ ] Allow only admins and self user to access their form submissions
- [ ] Write tests

## Definition of Done
- [ ] All of the required items are completed.
- [

[2020-06-01 17:04] Monal5031 opened #14 "Add travis CI file"
## Description
As a developer/QnA, I need to test the new PRs on CIs

## Mocks
[INSERT RELEVANT PNG FILE]

## Acceptance Criteria
### Update [Required]
- [ ] Add a travis CI file with minimal config for now

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

## Estimation
1 day

[2020-06-02 09:36] abha224 opened #15 "development: Create API for login"
### Is your feature request related to a problem? Please describe.
The registered users should be able to login with OSP to be able to use it. Create an API for user login for the OSP backend.

### Describe the solution you'd like
- [ ] If login fails - user should receive proper feedback - user/password is wrong, user not registered.
- [ ] If login successfully - user should be directed to the ma

[2020-06-02 09:49] abha224 opened #16 "QA: Create API tests for login and register"
## Description
As a developer, I need to ensure the quality of my website, so that it will not crash when in use. API tests and unit tests for registration and login.

## Acceptance Criteria
### Update [Required]
- [ ] Write necessary unit tests for registration
- [ ] APIs for registration should give the correct response.
- [ ] Write necessary unit tests for login
- [ ] APIs for login should give

[2020-06-02 15:15] abha224 opened #17 "Create back-end model classes for forms"
## Description
As a developer,I need to create model classes for forms according to the database schema, so that I can use it for retrieving data.

## Mocks
![db-structure-osp (2)](https://user-images.githubusercontent.com/39526159/83361868-a1ebce80-a39d-11ea-8f5e-d030acdd2c9b.png)

### Update [Required]
- [ ] create FormModel
- [ ] create QuestionAbstractModel

## Definition of Done
- [ ] All of

[2020-06-02 17:13] #5 closed, assigned to bismitaguha

[2020-06-05 14:53] #2 closed, assigned to bismitaguha

[2020-06-07 17:15] #3 closed, assigned to bismitaguha

[2020-06-16 10:19] abha224 opened #23 "doc: update ReadMe file"
## Description
The versions of Django and Django rest framework used for the project Open source programs(OSP) is not mentioned in the readme file and need to be added.

versions used are:
Django 3.0.7
Django rest framework 3.11.0

For additional information refer requirements.txt file.

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

## Estimation

[2020-06-16 15:08] vj-codes commented on #23
Heyy can I work on this issue?The versions are supposed to be added in tech stack section right?

[2020-06-17 06:35] abha224 commented on #23
@vj-codes Hi!! Yes, go ahead. I'll assign the issue to you :)
Yep, the versions are supposed to be added to the tech stack section.

[2020-06-17 22:01] vj-codes commented on #23
@abha224 thanks I'll send a PR soon:)

[2020-06-18 10:54] #15 closed, assigned to bismitaguha

[2020-06-21 14:22] Monal5031 opened #26 "As an Admin, I am able to create forms and add questions on backend using API"
## Description
As an Admin, I am able to create forms and questions using API
## Mocks
N/A

## Acceptance Criteria
- [ ] Create viewsets for form feedback
- [ ] Create serializers for form feedback
- [ ] Crate endpoints for form feedback
- [ ] Write tests
- [ ] Add checks for form feedback

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

## Estimat

[2020-06-22 15:44] #23 closed, assigned to vj-codes

[2020-06-28 14:03] #16 closed, assigned to bismitaguha

[2020-06-28 21:00] #17 closed, assigned to bismitaguha

[2020-07-08 18:24] #26 closed, assigned to bismitaguha

[2020-07-17 13:13] bismitaguha opened #30 "Add Google OAuth register and login to OSP"
## Description

As a developer,
I need to implement Google sign on,
so that I can allow Google users to login using their Google account.

For being able to use the application, the user has to create a new account and confirm the email just to login. It's a long process. So by having Google OAuth we can make the process shorter for users who have a Google account.

## Acceptance Criteria
### Upda

[2020-07-26 12:49] #8 closed, assigned to bismitaguha

[2020-07-31 15:00] bismitaguha opened #32 "Error in DB setup instructions in README"
### Describe the bug
Error in the DB setup instructions mentioned in the `README.md`.

### To Reproduce
Steps to reproduce the behavior:
1. While setting up with the DB instructions mentioned, errors are thrown.
2. See error

### Expected behavior
Setup instructions should work fine and smoothly

### Screenshots
N/A

### Desktop (please complete the following information):
All versions

### Additi

[2020-08-02 13:29] bismitaguha opened #33 "Bug: UserInformation has no default value in form and question views"
### Describe the bug
`UserInformation` does not have a default value, so while making a request to the form APIs, 500 internal server gets thrown.

### To Reproduce
Steps to reproduce the behavior:
1. Go to `/forms` in the frontend
2. When forms exist in the backend nothing is displayed in the frontend.
3. The network tab shows the error
4. See error

### Expected behavior
The forms should be disp

[2020-08-02 15:00] #33 closed, assigned to bismitaguha

[2020-08-10 15:32] abha224 opened #35 "view all submissions and update status"
## Description
 As an Admin, I am able to view all submissions and update status.

## Acceptance Criteria
### Update [Required]
- [ ] Searching the list of forms
- [ ] Updating the status of each form

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

## Estimation
1 day

[2020-08-15 16:47] abha224 opened #38 "feat: Zulip stats for the user"
## Description
As a User, I should be able to view my personal zulip stats on my dashboard.

## Acceptance Criteria
The code handles retrieving :

- [ ] username
- [ ] Total messages
- [ ] Add date of last time the stats were updated

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

## Estimation
1 day

[2020-08-28 06:28] #11 closed, assigned to bismitaguha

[2020-08-28 10:39] #12 closed, assigned to bismitaguha

[2020-08-28 10:40] bismitaguha commented on #12
Closed via #31

[2020-08-28 10:41] bismitaguha commented on #13
#31

[2020-08-28 10:41] #13 closed, assigned to bismitaguha

[2020-08-28 12:35] #35 closed, assigned to bismitaguha

[2020-08-28 12:37] #38 closed, assigned to bismitaguha

[2020-08-28 12:53] saideepesh000 commented on #30
@bismitaguha, are we going to update the front-end of the app simultaneously, or else after completing this in the backend, we add this to the front-end?

[2020-08-29 12:57] bismitaguha commented on #30
Yes the issue needs to be addressed in the frontend too, can be picked up by anybody!

[2020-08-31 16:19] abha224 commented on #10
Closing this issue since the uploading functionality is implemented at the frontend side.

[2020-08-31 16:19] #10 closed, assigned to bismitaguha

[2020-08-31 16:37] abha224 commented on #9
Closing this issue since sharing form through URL has been implemented on the frontend side.

[2020-08-31 16:37] #9 closed, assigned to bismitaguha

[2020-09-01 03:28] Aaishpra commented on #32
@bismitaguha the first thing I noticed was the link to install postgresql it took to install the package from source code, in my view, it will be easier to install the package by directly downloading it, so the link should take us to the download page.Please correct me if i am wrong.

[2020-09-02 10:02] bismitaguha commented on #32
The installation of Postgres is not the same a DB setup!!! The DB setup instructions are wrong. You won't be able to correctly set it up with the commands mentioned.

[2020-09-02 10:05] shivanii10 commented on #32
@bismitaguha  can i work on this ?

[2020-09-03 03:21] bismitaguha opened #39 "fix: Errors arising after addition of Zulip Stats"
### Describe the bug
Errors arising while saving the Zulip ID. Also migrations aren't optimized.

### To Reproduce
Steps to reproduce the behavior:
Try setting up the project or pulling the recent updates
On sending user information from the frontend the error arises.

### Expected behavior
The user information should get created without any error

### Screenshots
![Screenshot from 2020-08-31 22-1

[2020-09-06 16:38] #39 closed, assigned to bismitaguha

[2020-11-11 08:48] untari opened #44 "Database Setup"
### Describe the bug
Error in DB Setup

### To Reproduce
Steps to reproduce the behavior:
1. sudo -i -u postgres
2. createuser
3. psql
4. CREATE DATABASE
5. \c osp
6. GRANT **ON** PRIVILEGES ON DATABASE systersdb to osp;
      **ERROR:  syntax error at or near "ON"
      ERROR:  database "systersdb" does not exist**

### Expected behavior
first error it is in command **GRANT ON** because the comma

[2020-11-11 20:11] devkapilbansal commented on #44
@untari you should wait for your issue to be accepted and assigned to you before making a pull request. Although the issue seems valid but can you please edit it and use the bug report template

[2020-11-13 18:33] DhruviJ17 opened #47 "Login and password reset"
Login is required after registeration of a user. Hence, adding a login view.

Password reset feature, where an email is sent on the user's email id and user can reset the password.

[2020-11-17 11:23] utkarsh147-del commented on #47
I want to work on this.Please assign this work to me.

[2020-12-21 16:11] riyasingh1004 commented on #32
I have just setup the database locally on my laptop and have resolved the setup errors. Since I use both windows and Ubuntu I can add setup instructions for both. Can you,please assign me this issue.

[2021-01-12 21:49] chinmaym07 commented on #30
Hey can I work on this issue .?

[2021-01-19 07:39] Aaishpra commented on #44
Hi, @untari thanks for opening this issue, Although this is not a valid issue it's a  copy of #32. Another Thing this project currently is not very active so, if you need to be assigned to any issue or need help with anything related to the project please try to ask on Zulip chat channels.

Thanks, and please close this issue and PR here and ask to be assigned #32.

Happy Hacking.

Tagging @isabel

[2021-01-19 08:07] untari commented on #32
I would like to work on this issue please

[2021-01-19 08:56] vj-codes commented on #44
@Aaishpra yes I agree and will close the issue now, the PR however is already closed. Thank you for bringing it up. Zulip works the best for communication!
Also @untari thank you for creating the issue :)

[2021-01-19 08:56] #44 closed, assigned to nobody

[2021-01-19 09:37] Aaishpra opened #48 "Write Better Setup Instructions for setting the project."
### Describe the bug

As a developer, I would need the correct setup Instructions to set up the projects locally and start working on their issues. But the current Setup instructions aren't correct as well as incomplete and are specifically targeted at users with Linux as Operating System.

### To Reproduce
Steps to reproduce the behavior:
1. Go to https://github.com/anitab-org/open-source-program

[2021-01-19 09:38] Aaishpra commented on #30
@isabelcosta @vj-codes I would like to work here.

[2021-01-19 10:16] khushishikhu commented on #48
@isabelcosta  can you please assign this issue to me

[2021-01-19 14:02] vj-codes commented on #30
@chinmaym07 hey are you still interested to work on this issue ? If there's no response, it will be assigned to the contributor who claimed it next

[2021-01-19 14:02] vj-codes commented on #32
Assigning you @untari
Happy documenting!

[2021-01-19 15:27] chinmaym07 commented on #30
If it's available ,Yes I am interested to work on it ... @vj-codes

[2021-01-24 02:54] isabelcosta commented on #30
@chinmaym07 its assigned to you! Happy coding!

[2021-01-24 09:56] INNOVATIVEGAMER opened #50 "Add CODEOWNER file"
### Description
Please add a CODEOWNER file maintaining names of the maintainers/codeowners of the repo in .github folder.
This will help the users to know who are the maintainers of the repo.

### Solution
mention every codeowner name using @username in CODEOWNER file.

[2021-01-24 14:22] vj-codes commented on #48
The command  process is correct as it is right now @Aaishpra @khushishikhu
First one it takes the user to the project
Second one creates a virtual env
Thrid one activates it and then install and run

However for windows it is `venv\Scripts\activate` so I suggest keeping the order same just replacing the command

[2021-01-24 15:13] INNOVATIVEGAMER commented on #48
@khushishikhu Can you also add screenshots of creating user and database using PGAdmin4 in windows.(administration tool for postgresql in windows)
As PGAdmin4 provides graphical UI for the users it will be very easy for users to follow.
You can find PGAdmin4 at the following path in windows : `PostgreSQL\13\pgAdmin 4\bin`

[2021-01-24 15:15] khushishikhu commented on #48
@INNOVATIVEGAMER Thank you for the suggestion. I will add that too

[2021-01-24 19:15] isabelcosta commented on #32
fixed by #49

[2021-01-24 19:15] #32 closed, assigned to untari

[2021-01-24 19:18] isabelcosta opened #51 "Create a Docker file to run the backend"
## Description
As a developer,
I need a way to run the backend using Docker,
so that I can run the project with one command without the need to setup my local dev environment.

## Acceptance Criteria
### Update [Required]
- [ ] Create a Dockerfile to run the project using one command
- [ ] Add documentation on running the program using Docker on README

## Definition of Done
- [ ] All of the requi

[2021-01-24 19:26] chinmaym07 commented on #51
Hey @isabelcosta I want to try this .

[2021-01-24 19:30] isabelcosta commented on #51
@chinmaym07 you are already assigned another issue. Would you like to give up that issue for this one?

[2021-01-24 19:36] devkapilbansal commented on #51
Hi @isabelcosta I want to give it a try

[2021-01-24 19:38] isabelcosta commented on #51
Ok, @devkapilbansal I will assign this to you since you are not assigned to an issue on this repository, at the moment :)

[2021-01-26 17:17] khushishikhu commented on #48
@isabelcosta @vj-codes @Aaishpra I have made the PR. Please review it and let me know the required changes needs to be done

[2021-01-27 01:03] isabelcosta commented on #30
How's your issue work going @chinmaym07 ? Do you need any help or support?

[2021-01-27 01:05] isabelcosta commented on #14
Will close this one and create a new issue to do this instead with GitHub Actions

[2021-01-27 01:05] #14 closed, assigned to bismitaguha

[2021-01-27 01:07] isabelcosta opened #53 "Add GitHub Actions workflow to run tests"
## Description

As a developer,
I need ensure the tests are passing in the CI pipeline,
so that I can know that my code is not failing before merging.

## Acceptance Criteria
### Update [Required]
- [ ] Create GitHub actions workflow to run tests

## Definition of Done
- [ ] All of the required items are completed.
- [x] Approval by 1 mentor.

## Estimation
2 hours

[2021-01-27 06:24] Soumi7 commented on #53
I would like to work on this issue.

[2021-01-27 06:50] codesankalp commented on #53
@isabelcosta But I can't see any test written in this project repo.
I want to give this a try.

[2021-01-27 07:13] chinmaym07 commented on #30
Yes I am working on this issue. But I am facing this issue.
After login ,I am regularly keep getting this error whenever I try to update the details of the user , it shows me this error.
![Screenshot from 2021-01-27 12-41-47](https://user-images.githubusercontent.com/44670961/105955999-1f86ec00-609d-11eb-8c98-860eff9f0f04.png)

Can you @isabelcosta please help me with that.

[2021-01-27 08:20] chinmaym07 commented on #30
@isabelcosta I have got the file that contains this info .
https://anitab-org.zulipchat.com/#narrow/stream/237907-open-source-progs/topic/Questions/near/224148645
Thanks to sankalp.! 😁
But still the above error is coming

[2021-01-27 17:52] codesankalp opened #54 "Zulip Id Key Error from POST request on /api/info/"
### Describe the bug
When a new user registers from open-source-programs-frontend and tries to edit information on dashboard the Django server respond with internal server error(500).
The Error is as follows:
[code]

### To Reproduce
Steps to reproduce the behavior:
One way:
1. Make a POST request on http://127.0.0.1:8000/api/info/ by removing the zulip_id field as it is not a required field.
2. S

[2021-01-27 18:02] codesankalp commented on #54
I created this issue due to this conversation: https://anitab-org.zulipchat.com/#narrow/stream/237907-open-source-progs/topic/Questions/near/224155459
I think this needs to be handled carefully as zulip_id key is not present in request.data
https://github.com/anitab-org/open-source-programs-backend/blob/7ed23865db35e3e3ef6d1b3d3b80695b0f2103e3/osp/views/user_information.py#L30

@isabelcosta Is thi

[2021-01-27 19:06] codesankalp commented on #54
In UserInformation model
https://github.com/anitab-org/open-source-programs-backend/blob/7ed23865db35e3e3ef6d1b3d3b80695b0f2103e3/osp/models/user_information.py#L20

`blank=True` we should use either a default value for validation purpose because when zulip_id is not in response we have to keep it null or try to give it a default value?

[2021-01-27 23:29] isabelcosta commented on #53
@codesankalp Yey, this means there are a lot of issues to come for this repo!

Ok, so because of that maybe this should come after at least 1 test. I will put this on hold then. If any of you comes with an idea for this, would be great if you could create an issue @Soumi7 @codesankalp

[2021-01-28 06:14] codesankalp commented on #54
https://github.com/anitab-org/open-source-programs-backend/blob/7ed23865db35e3e3ef6d1b3d3b80695b0f2103e3/osp/migrations/0014_auto_20200824_1924.py#L18

In the migration file default value is 1, so either we should also provide the default value in models, or make it null=True.

[2021-01-28 06:56] codesankalp commented on #54
https://github.com/anitab-org/open-source-programs-web/pull/51
This error will be addressed after merging this pull request.
So closing this issue.

[2021-01-28 06:56] #54 closed, assigned to nobody

[2021-02-01 20:53] isabelcosta commented on #30
Did you manage to get help on Zulip? @chinmaym07

[2021-02-01 20:54] chinmaym07 commented on #30
Yes @isabelcosta .I have implemented google authentication . Only Github one is left ..which I am working on .
I think above error is solved by anitab-org/open-source-programs-web#51.

[2021-02-02 19:11] codesankalp opened #56 "Add test structure and some test for token_auth register serializer"
### Is your feature request related to a problem? Please describe.
As this repo does not contain any test, so create the test files structure so that it is modular and write some tests for token_auth.

### Describe the solution you'd like
Make the structure of the test, add some test and update README.

### Describe alternatives you've considered
-

### Additional context
-

[2021-02-02 19:23] codesankalp commented on #56
Will add more tests soon. :relaxed:

[2021-02-02 20:12] khushishikhu opened #58 "docs: Add link in README"
### Is your feature request related to a problem? Please describe.
The Contributing section of the README.md doesn't have the link in the "contributing guidelines"

### Describe the solution you'd like
Add the link of AnitaB.org contributing guidelines over there

### Additional context
This is required for any newcomer to first read the contributing guidelines before making any contribution.

[2021-02-02 20:19] isabelcosta commented on #58
Perfect! Thank you @khushishikhu ! Do you want to work on this or leave it to a first timer?

[2021-02-02 20:38] khushishikhu commented on #58
@isabelcosta  i would like to work on this issue

[2021-02-02 23:18] isabelcosta commented on #58
Go ahead @khushishikhu

[2021-02-02 23:21] isabelcosta commented on #56
No need to add them all in this PR @codesankalp :) it helps to review if PRs are really focused on a specific task. Feel free to create other issues to cover tests for other specific features.

[2021-02-06 13:23] chinmaym07 opened #60 "Feat : Github stats of a user"
### Description

As an Admin, I should be able to view user's Github stats whose application is being reviewed.

### Acceptance Criteria

The code handles retrieving:

- [ ] username
- [ ] Total issues created
- [ ] Total Pull Request made till date.
- [ ] Total commits made till date.

- [ ] Total Pull Request Reviewed

- [ ] Add date of last time the stats were updated

### Definition of Done

-

[2021-02-06 17:53] isabelcosta commented on #30
@chinmaym07 do you wish to deliver in one PR the Google OAuth, and on another issue the GitHub OAuth? I am okay with that, and I would even recommend it. Unless you already started that work and it creates more struggle for you

[2021-02-06 17:59] khushishikhu opened #61 "docs: Add a documentation section in the README.md"
### Is your feature request related to a problem? Please describe.

Add a section in README.md which directs us to the wiki of the backend part of the project (open-source-programs-backend)

### Describe the solution you'd like

Create a "Documentation" section with:
- link to the wiki for further information regarding the community
- link to open sessions which include the meeting minutes,
- link

[2021-02-06 18:26] codesankalp commented on #60
I would like to work on this issue @isabelcosta .

[2021-02-06 19:05] isabelcosta commented on #60
Sure, but you would first have to finish the tests one :) @codesankalp are you finished with it? If so can you make sure you get the 2 approvals on it + test so I can merge? @codesankalp

[2021-02-06 19:13] #48 closed, assigned to khushishikhu

[2021-02-07 15:35] ashwinijha6 commented on #61
@khushishikhu & @isabelcosta does this require creating an entirely new wiki page or editing the previous one because I can see a wiki page in the README.md though it has some mistakes?

[2021-02-07 15:48] khushishikhu commented on #61
@ashwinijha6 Wiki is already there but you just have to add a section which has the link to that

[2021-02-08 06:26] Amulya-coder commented on #61
@khushishikhu the wiki link is already mentioned in the Setup section so why you included it in the description do we have a separate wiki page for the backend? I think it is better to change the title from wiki section to <b>Project Documentation section</b> which sounds more suitable and not confusing the newcomers as it includes the meeting minutes + zulip chats +video of the GSoC as you have m

[2021-02-08 20:19] devkapilbansal opened #62 "Integrate Code Linters to enhance/ensure code quality"
### Is your feature request related to a problem? Please describe.
It is necessary for every project to follow some guidelines about how the code should be written, maintained and all. But this misses guidelines related to code quality.

### Describe the solution you'd like
* Research about some good code linters, PEP8 Formatter (As the code is written in Python)
* Add brief description about them

[2021-02-08 20:21] devkapilbansal commented on #62
@isabelcosta please label this issue.

P.S. - I will leave this issue for others as it is also an easy issue. If no one takes this soon, then I would like to work on this.

[2021-02-08 22:38] isabelcosta commented on #62
@devkapilbansal I see this and you did an amazing job writing the description for this issue 👏 💯 🙌 The additional context, the potential alternatives, etc. Very very well done 👏 Thank you for being so detailed here

[2021-02-09 07:31] khushishikhu commented on #61
@Amulya-coder yes we have a separate wiki page for the backend, the link which is mentioned in the setup directs us to the wiki page of frontend part.

[2021-02-09 15:35] codesankalp opened #63 "tests: Add test for views of token_auth"
### Is your feature request related to a problem? Please describe.
Add test code for the views in token_auth to test all the views in the token_auth app.

### Describe the solution you'd like
- [ ] Create new files with the name `test_view_register.py` and `test_view_tokens.py` inside `tests\`.
- [ ] In `test_view_register.py` add tests for RegisterView.
- [ ] In `test_view_tokens.py` add tests fo

[2021-02-09 15:40] codesankalp commented on #63
@isabelcosta Can you please label this issue?

[2021-02-09 15:45] codesankalp commented on #62
@isabelcosta @devkapilbansal Can you assign me this issue?
As this pull request https://github.com/anitab-org/open-source-programs-backend/pull/57 needs review I would like to solve another issue :smiley:

[2021-02-09 16:54] chinmaym07 commented on #30
Yes ..!! @isabelcosta

[2021-02-09 19:16] Amulya-coder commented on #61
@khushishikhu Yes, I know that the wiki page mentioned in the readme will direct us to the frontend part could you please give the appropriate links within the description also it'll be good to provide the specified links that are getting to be used in the issue.

[2021-02-09 19:16] Amulya-coder commented on #61
I would like to work on this issue. Can I please be assigned

[2021-02-09 23:45] khushishikhu commented on #61
@isabelcosta  can you please assign this issue to @Amulya-coder

[2021-02-09 23:50] isabelcosta commented on #61
@Amulya-coder will assign to you.

Feel free to create an issue about the Wiki mistakes ;)

[2021-02-09 23:54] isabelcosta commented on #61
@khushishikhu @Amulya-coder I updated the issue description + title to present information in a clearer way 😉

[2021-02-09 23:57] isabelcosta commented on #62
Done @codesankalp

[2021-02-10 19:03] NenadPantelic commented on #60
@isabelcosta Can I take this one?

[2021-02-11 18:21] codesankalp commented on #60
@isabelcosta If possible I want to work on this issue as my other PR's need review.

[2021-02-11 20:38] isabelcosta commented on #61
@Amulya-coder how you are getting on with this issue?

[2021-02-11 20:44] #56 closed, assigned to codesankalp

[2021-02-11 20:54] isabelcosta commented on #60
Sure @NenadPantelic I can assign it to you.
@codesankalp we try to have people assigned to one issue at a time, and since @NenadPantelic has not contributed yet to this repo, this would be a good opportunity to do so.

[2021-02-11 21:27] codesankalp commented on #53
@isabelcosta now some tests have been merged can I write a workflow for running tests also?

[2021-02-11 22:28] isabelcosta commented on #53
Sure :) @codesankalp

[2021-02-12 04:21] Amulya-coder commented on #61
Yes working on it. I will try to send a pr asap @isabelcosta 👍.

[2021-02-13 09:48] Amulya-coder opened #68 "Bug: Link the Contributing guidelines to Readme"
### Describe the bug
Currently, the contributing guidelines is only mentioned in the readme but do not linked.

### To Reproduce
Steps to reproduce the behavior:
1. Go to Readme
2. Scroll down to Contribution section
4. See error

### Expected behavior
Link the Contributing.md file in Readme so that everyone can refer.

### Screenshots
![image](https://user-images.githubusercontent.com/66437295/10

[2021-02-13 10:14] #68 closed, assigned to nobody

[2021-02-13 10:22] Amulya-coder opened #69 "docs: Include licence section in Readme"
### Is your feature request related to a problem? Please describe.
It's good to mention about the license under which the organization follows. Currently, there is no license added in the readme.

### Describe the solution you'd like
Add license section in the readme this is a great way to encourage more free, open-source code.

### Additional context
Here's is the link: https://github.com/anitab-

[2021-02-13 13:06] ayan-biswas0412 commented on #69
@Amulya-coder can I work in this issue ?? I can add this type of badges also
<img width="918" alt="image" src="https://user-images.githubusercontent.com/52851184/107850712-6b21ef80-6e2a-11eb-875d-0a60d6712592.png">

[2021-02-13 14:27] ayan-biswas0412 commented on #69
@Amulya-coder I have done the previous job in the [PR](https://github.com/anitab-org/open-source-programs-web/pull/79) can you assign me to this ?

[2021-02-13 14:35] Amulya-coder commented on #69
@ayan-biswas0412 you can work on one issue atm wait for the maintainer to label this issue. Thanks 🙂.

[2021-02-13 14:41] ayan-biswas0412 commented on #69
Sure 😀

[2021-02-13 17:28] isabelcosta commented on #69
this would be another issue @ayan-biswas0412 ;) feel free to create it

[2021-02-13 17:30] isabelcosta commented on #69
@ayan-biswas0412 I know you have been assigned the same issue on web repository, so I will leave this available for a newcomer in this repo. Feel free to contribute to other first timers only issues in this repository

[2021-02-13 17:55] ayan-biswas0412 commented on #69
yes thanks @isabelcosta for reviewing my PR and thanks for the approval 🥰

[2021-02-13 18:08] ayan-biswas0412 commented on #69
yah sure

[2021-02-13 18:13] ayan-biswas0412 opened #70 "docs: add good badges to the readme"
### Is your feature request related to a problem? Please describe.
there are number of good looking badges available for the Github Readme some of are given below in the image
<img width="445" alt="image" src="https://user-images.githubusercontent.com/52851184/107857771-a4705480-6e56-11eb-9576-ea282ff10862.png">

here some more badges are available . [Badges](https://github.com/Naereen/badges)
ple

[2021-02-13 18:13] ayan-biswas0412 commented on #70
@isabelcosta please add your thoughts on it

[2021-02-13 18:18] isabelcosta commented on #70
@ayan-biswas0412 this looks great! I would just not add fork and stars badge, since that is already part of GitHub UI :) i will add the first timer only label then ;) Thank you for creating this issue 🙌🏾

[2021-02-13 18:24] ayan-biswas0412 commented on #70
@isabelcosta I have updated the issue , Can I please work for this ? ☺️ and please also suggest me some issues based on ReactJS development (if available) I can work for that also

[2021-02-13 18:41] isabelcosta commented on #70
@ayan-biswas0412 issues base on react development would be on the web repository ;) What about leaving this issue for a "first timer only", I can help you come up with react dev issues if none are available on https://github.com/anitab-org/open-source-programs-web. Are you on Zulip? We'll soon have the documentation section that can help you find what is missing from the MVP of this project and co

[2021-02-13 18:43] ayan-biswas0412 commented on #70
yeah let's leave it to for first-timers-only and I will look up on the repo you mentioned and I am in Zulip also

[2021-02-13 19:10] Rahulm2310 opened #71 "Document the env variables needed to run the backend"
## Description
As a developer,
I need to know which environment variables,
so that I can run the project.

There is documentation missing about the environment variables needed to have the project running.

## Acceptance Criteria
### Update [Required]
- [ ] Update README with the environment variables needed to run the project and how to get them

## Definition of Done
- [ ] All of the required it

[2021-02-13 19:12] Rahulm2310 commented on #71
@isabelcosta I would like to be assigned. Thanks 🙂

[2021-02-13 19:21] Rahulm2310 opened #72 "Bug: Link to contributing guidelines missing"
### Describe the bug
Link to contributing guidelines is missing in the readme.md

### To Reproduce
Steps to reproduce the behavior:
1. Go to https://github.com/anitab-org/open-source-programs-backend
2. Scroll down to bottom
4. See error

### Expected behavior
Correct link to contributing guidelines should be added.

### Screenshots
![osp-backend-readme-link](https://user-images.githubusercontent.

[2021-02-13 19:21] Rahulm2310 commented on #72
@isabelcosta I think this can be a good `First Timers only` issue.

[2021-02-13 19:26] #72 closed, assigned to nobody

[2021-02-13 19:55] Rahulm2310 opened #73 "docs: Link to reporting guidelines incorrect in code_cf_conduct.md"
### Describe the bug
Link to reporting guidelines incorrect in code_cf_conduct.md

### To Reproduce
Steps to reproduce the behavior:
1. Go to https://github.com/anitab-org/open-source-programs-backend/blob/develop/CODE_OF_CONDUCT.md#6-reporting-guidelines
2. Click on `Reporting Guidelines`
3. See error

### Expected behavior
Link should be updated to https://github.com/anitab-org/open-source-progr

[2021-02-13 19:55] Rahulm2310 commented on #73
@isabelcosta This can be a good `First Timers only` issue. Thanks 🙂

[2021-02-13 20:41] isabelcosta commented on #73
Thank you @Rahulm2310 for creating this!

[2021-02-13 20:52] isabelcosta commented on #71
This is more like a user story, than a bug in the project, so i updated the issue description using this template https://github.com/anitab-org/open-source-programs-backend/blob/develop/.github/ISSUE_TEMPLATE/user-story.md @Rahulm2310

[2021-02-13 20:53] isabelcosta commented on #71
Sure assigned it to you @Rahulm2310 :)

[2021-02-14 02:06] jalajcodes commented on #63
I'd like to work on it... @isabelcosta

[2021-02-14 09:32] Srashtimittal commented on #73
@isabelcosta I want to work on this issue. Please assign me.

[2021-02-14 09:36] Srashtimittal commented on #73
@isabelcosta I want to work on this issue. Please assign me.

[2021-02-14 11:34] Amulya-coder opened #74 "docs: Add Setup to run in Windows"
## Description
As a USER for setting up this project locally in windows, I need the database and setup instructions so that I can easily run the project without facing any problem.

## Mocks
![image](https://user-images.githubusercontent.com/66437295/107875448-e5637a00-6ee5-11eb-8737-c6f4754b234d.png)

## Acceptance Criteria
### Update [Required]
- [ ] Add all the necessary instructions that are r

[2021-02-14 11:36] Amulya-coder commented on #74
@isabelcosta can you please label this issue. Thanks 😊.

[2021-02-14 12:15] ashwinijha6 opened #75 "doc: Move all the documentation of open-source-programs-backend to docusaurus"
### Is your feature request related to a problem? Please describe.
The current documentation of open-source-programs-backend needs to be moved to docusaurus.

### Describe the solution you'd like
[Docusaurus](https://v2.docusaurus.io/) which will help get more focus on the content.

### Describe alternatives you've considered
I've considered no alternative solutions or features.

## Definition of

[2021-02-14 12:16] ashwinijha6 commented on #75
@isabelcosta I would like to work on this issue. Could u pls assign this to me & add the required labels .

[2021-02-14 12:29] codesankalp commented on #74
@Amulya-coder Can you please update the description for setting up database for windows also?

[2021-02-14 12:30] isabelcosta commented on #75
Assigned to you @ashwinijha6 :)

[2021-02-14 12:33] codesankalp commented on #73
@Rahulm2310 Can you please update the issue title and correct the typo `code_cf_conduct` to `code_of_conduct`.

[2021-02-14 12:36] #61 closed, assigned to Amulya-coder

[2021-02-14 12:40] #51 closed, assigned to devkapilbansal

[2021-02-14 13:08] #58 closed, assigned to khushishikhu

[2021-02-14 13:16] isabelcosta opened #76 "Mention the correct link to open session minutes on README"
## Description

As a new contributor,
I need read the correct open session notes document (most current one),
so that I can be aware of most recent discussions.

The meeting minutes mentioned is the minutes from GSoC project sessions.
The new link is: https://docs.google.com/document/d/1JSyAr9bO4hJJxFvThvn_LVjW0KcEspXpzvWULRC_xJE/edit

## Acceptance Criteria
### Update [Required]
- [ ] Add link to

[2021-02-14 13:26] isabelcosta opened #77 "Create unit test for Create a Form API"
## Description
As a developer,
I need have unit tests for each functionality,
so that I can be confident when building a new feature, that there are no regression on the platform.

API: `POST /api/form`

The idea is to come with 3 unit tests to test this API. You may have to mock some information to properly test it.

**Resources:**
* Writing tests for Django projects: [resource 1](https://www.dja

[2021-02-14 13:51] isabelcosta opened #78 "Create unit tests for User info API"
## Description

As a developer,
I need have unit tests for each functionality,
so that I can be confident when building a new feature, that there are no regression on the platform.

API: `GET /api/info`

The idea is to come with 3 unit tests to test this API. You may have to mock some information to properly test it.

**Resources:**
* Writing tests for Django projects: [resource 1](https://www.dja

[2021-02-14 14:08] decon-harsh commented on #78
@isabelcosta  I would love to take this up!

[2021-02-14 14:12] isabelcosta commented on #78
It's yours @decon-harsh :)

[2021-02-15 00:31] rmpsc commented on #70
Hi! First timer here. May I work on this issue? :)

[2021-02-15 06:44] codesankalp opened #80 "Feature: Update the develop branch for deployment on heroku."
### Is your feature request related to a problem? Please describe.
The final phase of any project is the successful deployment so that users can interact with it in production.
This website backend is currently under development but it will be beneficial for newcomers or any contributors to see the website in the production and know about this project in detail.

### Describe the solution you'd li

[2021-02-15 06:45] codesankalp commented on #80
@isabelcosta Can you add labels to this issue?

[2021-02-15 11:28] codesankalp opened #81 "Bug: API response for activating users returns 403 Forbidden"
### Describe the bug
The backend is not able to handle the activate request and responds with:
[code]

### To Reproduce
Steps to reproduce the behavior:
1. In `settings.py` change the email backend to console.
    `EMAIL_BACKEND = "django.core.mail.backends.console.EmailBackend"`
2. Register a new user by making a POST request on  `http://127.0.0.1:8000/api/token_auth/register/` by posting the bel

[2021-02-15 11:29] codesankalp commented on #81
@isabelcosta This issue needs to be solved so that activating users will work from the frontend.
Can you add labels to it?

[2021-02-15 18:19] decon-harsh commented on #81
Hey , Can I do this?

[2021-02-15 19:01] #53 closed, assigned to codesankalp

[2021-02-15 19:04] isabelcosta commented on #70
It's yours now @rmpsc :)

[2021-02-15 19:09] isabelcosta commented on #71
@Rahulm2310 any progress on this? Do you need any help?

[2021-02-15 19:13] isabelcosta opened #82 "Mock Zulip response when running tests"
## Description
As a developer,
I need to run tests without depending on Zulip 3rd party service,
so that I can keep the test results only dependant on our project code.

The idea is to mock Zulip API client, make sure that we do not depend on this service when running tests.

## Acceptance Criteria
### Update [Required]
- [ ] Run tests without the need of Zulip API Key

## Definition of Done
- [ ]

[2021-02-15 19:26] #62 closed, assigned to codesankalp

[2021-02-15 19:36] devkapilbansal commented on #82
@isabelcosta I would like to look into this

[2021-02-15 19:38] isabelcosta commented on #82
Awesome 🎉 Will assign to you @devkapilbansal

[2021-02-15 20:03] Rahulm2310 commented on #71
@isabelcosta What more environment variables do we need to add in addition to zulip_id and sendgrid_api_key. I just created a GIF to show how to get zulip config and zulip id.

![zulip-download-env](https://user-images.githubusercontent.com/54268438/107988857-e6380100-6ff6-11eb-809a-154ceb8e6f6b.gif)

![zulip-download-env-part2](https://user-images.githubusercontent.com/54268438/107988869-ea641e80

[2021-02-15 20:06] isabelcosta commented on #71
That is amazing 🤩 @Rahulm2310
However no need for a GIF, just text is enough for this on README. This GIF can still leak your keys.
Can you run the backend properly with those 2 env vars? If so, then those are the only needed.
Feel free to submit a PR with documentation.

[2021-02-15 20:09] codesankalp commented on #71
@Rahulm2310 Just a suggestion adding `django_secret_key` and `database config` as environment variables will be good here :relaxed:

[2021-02-15 20:11] codesankalp commented on #81
@decon-harsh Please wait, The issue is to be verified by admin @isabelcosta first.
After the addition of labels, you can work on it!

[2021-02-15 20:12] Rahulm2310 commented on #71
@codesankalp Aren't these in the settings.py file?

[2021-02-15 20:19] codesankalp commented on #71
According to the code, we don't need these to run the project locally.
But it will be a good practice if we can load `django_secret_key` and `database config` as env variables like in mentorship-backend.
But this issue is only related to the documentation you can skip this part as the project is running locally without these variables.

[2021-02-15 20:22] codesankalp commented on #71
Yes, they are present but I gave the suggestion for importing these as env variables in the code.
But again this issue is related to the document part you can skip this :relaxed:

[2021-02-15 23:03] isabelcosta opened #84 "Get SECRET_KEY as an export environment variable"
## Description
As an owner of the project,
I need `SECRET_KEY` to not be sourced controlled,
so that I can configure it per environment without exposing to the Open Source community.

The `SECRET_KEY` env variable has to be exported instead of being hardcoded on the project.

## Acceptance Criteria
### Update [Required]
- [ ] Get `SECRET_KEY` from machine environment
- [ ] Document this required e

[2021-02-15 23:18] isabelcosta opened #85 "Make sendgrid email feature optional for development"
## Description
As a developer,
I need ease of development,
so that I can focus on feature development and avoid wasting thrid party resources for development.

At the moment, we are required to have a sendgrid account to work on the backend locally, and perhaps this is not necessary. If this is purely to send emails, these can be sent on the console. The idea is to make sendgrid usage optional. If

[2021-02-15 23:31] isabelcosta commented on #71
@codesankalp I just saw your suggestions here. Those make a lot of sense, I was now looking into the code and creating issue based on that. Can you create one issue to make database values into environment variables?

[2021-02-15 23:35] isabelcosta commented on #81
@codesankalp the reproduce steps, could you be a little more clear on that. The request URL you show there is supposed to mean anything specific, or is it just a random URL? Will that be the same URL for another contributor running the project locally?

[2021-02-15 23:50] isabelcosta commented on #80
@codesankalp do we need an additional branch for this? on mentorship-backend project I am using the `develop` branch for heroku deployment.

[2021-02-16 00:12] isabelcosta opened #86 "Improve function naming and create docstrings and type hint for zulip_api.py"
## Description
As a developer,
I need code easy to understand,
so that I can develop more efficiently.

The scope of that issue is strict to `osp/utils/zulip_api.py` file, it may include changes on other files if it involves function name changes.

I noticed that one of the functions is called `get_messages()` which implies the return value is a collection of messages. This is not true, the functi

[2021-02-16 07:06] codesankalp commented on #81
@isabelcosta I have updated how to reproduce this issue. You can check :relaxed: .

[2021-02-16 07:07] decon-harsh commented on #81
@isabelcosta I think this is a one time url . Accessing it first time should give a message "Email confirmed" . Accessing again should give Invalid Link . This url is for confirmation of email.

[2021-02-16 14:08] codesankalp opened #88 "Get Database configuration as an export environment variable."
## Description
As a contributor,
I need database  configuration to be exported as separate environment variables
so that changing database configuration for deployed as well as the local project does not depend on changing code every time.

## Acceptance Criteria
### Update [Required]
- [ ] Get `DB_NAME`, `DB_USERNAME`, `DB_PASSWORD`, `DB_HOST`, `DB_PORT`  from machine environments.
- [ ] Document

[2021-02-16 14:09] codesankalp commented on #88
@isabelcosta Can you please add labels to it?

[2021-02-16 15:00] Amulya-coder opened #89 "Create the config.yml file for the Welcome Bot"
## Description
As a first time contributor,
I need a bot to help guide my first contribution,
so that I can follow this org's contribution guidelines.

## Mocks
![image](https://user-images.githubusercontent.com/66437295/108079251-a293d480-7094-11eb-93ee-992b1aaa5fb3.png)

## Acceptance Criteria
### Update [Required]
- [ ] newIssueWelcomeComment is complete with the correct links to this repo.
- [

[2021-02-16 15:00] Amulya-coder commented on #89
@isabelcosta can you please label this issue.

[2021-02-16 15:45] khushishikhu opened #90 "docs: Add General Guidelines in the CONTRIBUTING.md"
### Is your feature request related to a problem? Please describe.
Write general guidelines in the CONTRIBUTING.md

### Describe the solution you'd like
For reference check [here](https://github.com/anitab-org/open-source-programs-backend/blob/develop/.github/CONTRIBUTING.md)

[2021-02-16 20:14] codesankalp commented on #80
@isabelcosta We can deploy using the develop branch also. Should I edit the title and description of this issue?

[2021-02-18 12:17] NenadPantelic commented on #88
@isabelcosta  Can I work on it?

[2021-02-18 12:42] Amulya-coder commented on #88
@NenadPantelic you are already assigned to #60.

[2021-02-18 12:44] Amulya-coder commented on #60
@NenadPantelic please give the status of your work.

[2021-02-18 13:02] NenadPantelic commented on #88
@Amulya-coder Oh sorry, I totally overlooked that, I don't know  how :facepalm:

[2021-02-18 13:03] NenadPantelic commented on #60
@Amulya-coder Nearly finished, opening a PR soon

[2021-02-18 13:32] NenadPantelic commented on #60
Hi, I have a few questions regarding the direction of this issue:
1) do we want to store the GH stats in the database? Generally, I think this is a good idea because we don't want to fetch the data from the GH API whenever we're accessing this resource in the app, that could be a performance suicide. On the other side, we would not have fresh data if we use the data we stored previously in our dat

[2021-02-18 13:33] NenadPantelic commented on #60
@Amulya-coder I implemented a part of it, but I think we must discuss a few things (the comment above).

[2021-02-18 13:59] Amulya-coder opened #91 "docs: Improve Pull request templates"
### Is your feature request related to a problem? Please describe.
As I saw in the Issue template there are descriptions like `A clear and concise description of what you want to happen.` which is also shown in the preview window unless I remove it manually so it was a time taking process, the description like above should be commented as they are for Author's eye only.
Also, remove the irrelevant

[2021-02-18 14:02] Amulya-coder commented on #91
@isabelcosta can you please look into this after approving I would like to be assigned.

[2021-02-18 19:01] Rahulm2310 commented on #91
@Amulya-coder This is a newcomer friendly issue. Let's give them a chance. As you have already contributed in past, please look for some other available issues.

Cc: @isabelcosta

[2021-02-18 19:35] isabelcosta commented on #91
@Amulya-coder could you share this on Zulip, so that new contributors have the chance to contribute to this project? There are other issues which are available, could you look into those? Do you need help picking one?

[2021-02-18 19:38] isabelcosta commented on #60
@codesankalp @Aaishpra could you help here? For a first MVP, I think getting data directly from GitHub would be better 🤔 What do you think?

[2021-02-18 19:40] Amulya-coder commented on #91
Sure! @isabelcosta I would share all the beginner's friendly issues on Zulip thanks for giving me this opportunity.

[2021-02-18 19:59] NenadPantelic commented on #60
@isabelcosta  Just to clarify, we will definitely fetch the data from the GitHub API, but I suggest storing that response in the database permanently and add on the frontend a button that will trigger the endpoint for updating that data (fetching again the data from the GitHub API). This is one option (I think it's better) and the other one is to fetch the data whenever the user accesses the page,

[2021-02-18 20:05] chinmaym07 commented on #60
Yes I agree & that's great @NenadPantelic  to store the stats in database & I think we should display all the PR's that are made on different projects of an organisation.

[2021-02-18 20:40] codesankalp commented on #60
The idea is to manage all third-party APIs from Backend API, so I would also suggest using REST API to store data in the database and refreshing it with time when a user clicks on a button in the frontend (like the implementation of Zulip API).

According to MVP, you have to only store these data:
1. Username
2. PRs:
    1. Open:
    2. Closed:
    3. Merged:
3. PR Reviews
4. Issues
5. Comments

S

[2021-02-18 21:13] codesankalp commented on #85
@isabelcosta As no one commented on this issue I would like to work on this issue.

[2021-02-18 22:07] devkapilbansal commented on #82
@isabelcosta I found these two ways to make tests passed in a pull request.

1. Create a separate environment and passed it in Github Workflow. This way, API KEY can be provided to the pull requests from the fork.
2.  Use class based approach in this [file](https://github.com/anitab-org/open-source-programs-backend/blob/develop/osp/utils/zulip_api.py)
In starting Django checks files using StatRelo

[2021-02-18 22:28] isabelcosta commented on #85
Done, this is quite important @codesankalp thank you for working on this!

[2021-02-18 23:18] #71 closed, assigned to Rahulm2310

[2021-02-19 01:22] sahil9001 commented on #76
I want to take this issue, can anyone please assign it to me?

[2021-02-19 03:30] Aaishpra commented on #60
I agree with @codesankalp we should store the GH stats in the database, and refresh them when a user clicks on the refresh button(on frontend) In this way we can also keep a backup of the last refreshed data (considering the scenario if the Github scripts fail) and maintain similarity to Zulip API implementation.

For the MVP we need to focus on very few things (no need to consider project-wise PR

[2021-02-19 03:33] Aaishpra commented on #60
@chinmaym07 can you edit the issue description and remove the following points from it

- [ ] Total Pull Request to a specific project.
- [ ] Total commits made till date. (this should be comments instead of commits)

[2021-02-19 06:19] codesankalp commented on #76
Assigning you @sahil9001 !

[2021-02-19 08:27] sahil9001 commented on #84
Hey @isabelcosta ! can I take this issue?

[2021-02-19 15:24] decon-harsh commented on #81
@codesankalp Since the labels got added , should I start the work?

[2021-02-19 17:59] Rahulm2310 commented on #80
@isabelcosta @codesankalp I would like to work on this.

[2021-02-19 18:04] codesankalp commented on #80
@Rahulm2310 Please wait until @isabelcosta will clarify the branch to use for deployment.

[2021-02-19 18:28] #76 closed, assigned to sahil9001

[2021-02-19 18:33] #70 closed, assigned to rmpsc

[2021-02-19 18:55] codesankalp commented on #84
Assigning you @sahil9001 :+1:

[2021-02-19 19:03] isabelcosta commented on #80
yes, from develop branch so that every time something is merged the deployment is updated @codesankalp

[2021-02-20 18:41] codesankalp commented on #80
@Rahulm2310 Assigning you !!
@isabelcosta Can you add the labels?

[2021-02-21 16:34] jeeva2812 commented on #74
I am interested in taking up this issue. Can you please assign me? @codesankalp  @Amulya-coder  @isabelcosta

[2021-02-21 17:18] codesankalp commented on #74
Assigning you @jeeva2812 !

[2021-02-21 17:44] devkapilbansal commented on #90
HI @khushishikhu can you please explain what you mean by `general guidelines`?

[2021-02-21 18:32] jeeva2812 commented on #74
I have made the required changes. Please do review @isabelcosta @codesankalp @Amulya-coder

[2021-02-21 19:36] isabelcosta commented on #82
@devkapilbansal i don't quite understand option 1 🤔
Regarding Option 2, we don't actually want to test zulip API key, do we?
When you mention create a new environment, do you mention a test environment so that the app behaves differently?

Couldn't we use mock patch()? Like here on mentorship backend? https://github.com/anitab-org/mentorship-backend/blob/2917a910ab34dd5b6f800e4eac08e8fa5ba3fa0f/te

[2021-02-21 21:51] devkapilbansal commented on #82
Regarding option one, the repository secrets are not passed to the pull requets from the fork. So, we can create an environment, imilar to `.env` file and pass the secret from there.

If that's the case, I will soon make a PR by implementing option 2

It was for passing secrets to the app.

I don't find a way to use mocking here. Although mocking in used for testing purposed, I would separate the

[2021-02-22 04:21] imperishableSecret commented on #86
@isabelcosta Can I work on this issue?

[2021-02-22 04:56] sahil9001 commented on #77
Hey @isabelcosta @codesankalp , can I take this issue?

[2021-02-22 06:37] codesankalp commented on #86
Assigning you @AnubhavHooda !

[2021-02-22 06:39] b-thebest commented on #86
Can I work on this issue ?

[2021-02-22 06:43] codesankalp commented on #86
@b-thebest As this issue is already assigned to @AnubhavHooda . Please look into another issue.

[2021-02-22 22:49] isabelcosta commented on #82
@devkapilbansal are you clarified here? Would love to see your PR soon, as the GitHub actions always failing does not help to believe the PRs are being tested 🙈 Thank you for working on this!

[2021-02-22 22:51] isabelcosta commented on #91
I changed the title of the issue, because I will create another issue to remove the issue templates folder :)

[2021-02-22 22:52] isabelcosta opened #97 "Delete .github/ISSUE_TEMPLATE folder"
## Description

As a org admin / maintainer,
I need to maintain 1 version of issue templates used in the organization,
so that I can avoid duplicating work and having different versions of the templates, when we want to use the same ones across all projects.

Because the issue templates are now on https://github.com/anitab-org/.github, we don't need to have issue templates present in the repositor

[2021-02-22 22:58] #74 closed, assigned to jeeva2812

[2021-02-23 18:57] codesankalp commented on #90
@khushishikhu Please describe the issue in detail by writing a brief description of the issue.

[2021-02-23 21:13] #85 closed, assigned to codesankalp

[2021-02-24 05:25] shriya030 commented on #97
Can I work on this issue?

[2021-02-24 05:25] Pranathi-star commented on #97
Delete ISSUE_TEMPLATE folder

[2021-02-24 05:26] Pranathi-star commented on #97
Can I work on this?

[2021-02-24 06:21] Aaishpra commented on #97
Assigned you, @shriya030 good luck 🎉

[2021-02-24 15:22] codesankalp commented on #73
Assigning you @Srashtimittal !!

[2021-02-24 15:23] codesankalp commented on #63
@jalajcodes Can you update me about your progress?

[2021-02-24 15:24] codesankalp commented on #60
@NenadPantelic Any updates on this issue?

[2021-02-24 15:27] codesankalp commented on #30
@chinmaym07 Any updates on this?
You can make a PR of Google OAuth if Github one is still remaining.

[2021-02-24 17:10] Rahulm2310 commented on #80
@codesankalp do I just need to add the settings (like procfile, add django-heroku) and submit a PR ?
Also, how are we going to deploy it to heroku as we have already used up the heroku free limit.

[2021-02-24 17:23] jalajcodes commented on #63
Will create a PR soon, btw I am not sure how to test TokenObtainPairView and TokenRefreshView 😅 ,any hints?

[2021-02-24 17:44] codesankalp commented on #80
@Rahulm2310 Make the required changes needed to deploy to Heroku using a single command. You can use any methods about this. We will discuss changes in the PR.
I don't know about the Heroku free limit of Anitab-org, as in the session it was decided that we are going to host this backend on Heroku.

@isabelcosta Is Heroku free limit has been used by the organization? If yes, then what we need to us

[2021-02-24 17:47] codesankalp commented on #63
@jalajcodes Just test that API of  `TokenObtainPairView` and `TokenRefreshView` is giving token or not when making the request from client.

[2021-02-24 17:49] NenadPantelic commented on #60
I have tried a few things:
1) call to GitHub API
2) PyGitHub
3) https://github-readme-stats.vercel.app/api
There are pros and cons of every one of them, e.g. by default only default branches are included in commits stats, commits of forked repos are not included etc., so I researched a bit the best approach. Also, I had some university obligations, I'll do my best to finish it by the end of this w

[2021-02-24 19:26] isabelcosta commented on #60
Nice @NenadPantelic :) thank you for updating! It's ok as long as you provide updates within 3 days, like in the contributing guidelines its fine 💪🏾

[2021-02-24 20:18] isabelcosta commented on #30
yap, @chinmaym07 it is actually better if you just do one of the OAuth, and someone else can do it on another PR :) So that the PR is focused on one specific "little" task. Can you please choose one OAuth service, so we can update the issue.

[2021-02-24 20:19] isabelcosta commented on #30
I will update this to be about Google OAuth, and leave the GitHub to another.
@codesankalp ~could you please create an issue for implementing GitHub OAuth?~
I can create real quick, nevermind

[2021-02-24 20:27] isabelcosta opened #101 "Add GitHub Oauth registration and login"
## Description

As a developer,
I need to implement GitHub sign on,
so that I can allow GitHub users to login using their GitHub account.

For being able to use the application, the user has to create a new account and confirm the email just to login. It's a long process. So by having GitHub OAuth we can make the process shorter for users who have a GitHub account.

## Acceptance Criteria
### Upda

[2021-02-24 20:45] isabelcosta commented on #80
@codesankalp we are not yet using Heroku as an organization (though we intend to). For now, all you need @Rahulm2310 is to add whatever is needed to the code that allows us to deploy this on heroku with single clicks. So for mentorship-backend it was only adding `.procfile`, so you can do this, and if more is needed also add to the PR :)

[2021-02-24 23:53] chinmaym07 commented on #30
@codesankalp , @isabelcosta  sorry for taking so long to implement this . As my exams are going on. I will submit the pr asap. I have implemented the google one just testing it using the frontend. It's working using the frontend .
@codesankalp I think this issue only needs the Google auth api endpoint to be created in order to call it using the frontend. please correct me if there is any additiona

[2021-02-24 23:55] isabelcosta commented on #30
No problem @chinmaym07 I understand a lot of contributors in the community now are going through exams. You can update us from time to time. slow progress is still progress ;)
I think reducing the scope for google login was the right option here :)

[2021-02-25 00:38] jalajcodes commented on #101
Can I work on it? @isabelcosta

[2021-02-25 06:09] codesankalp commented on #101
@jalajcodes You are assigned to https://github.com/anitab-org/open-source-programs-backend/issues/63.

@isabelcosta I want to give it a try.

[2021-02-25 09:02] isabelcosta commented on #101
assigned to @codesankalp because you're not assigned to anything

[2021-02-25 10:44] imperishableSecret commented on #77
@isabelcosta  can I work on this issue ?

[2021-02-25 17:28] Rahulm2310 commented on #80
@isabelcosta @codesankalp should I add deploy instructions in README.md ?

[2021-02-25 17:34] codesankalp commented on #80
I think adding deployment instruction is not required in README as this instruction is not required by contributor.
@Rahulm2310

[2021-02-25 22:10] isabelcosta commented on #80
@Rahulm2310 you can add it in the PR description so that we can do it. you could also add instructions on deploying to Heroku, on a `docs` folder as a markdown file ;) then it would go to docusaurus

[2021-02-25 22:19] #86 closed, assigned to imperishableSecret

[2021-02-25 22:20] #97 closed, assigned to shriya030

[2021-02-26 06:42] himanshu007-creator commented on #89
HI @Amulya-coder I would like to work on this issue!

[2021-02-26 08:58] Amulya-coder commented on #89
@Aaishpra can you please assign it to @himanshu007-creator.

[2021-02-26 10:49] Aaishpra commented on #89
@himanshu007-creator you are assigned 🚀

[2021-02-26 14:45] himanshu007-creator commented on #89
I am facing some problem. The bot that i created is working fine. But it is <b>failing build tests</b>.
i am using <code>runs-on : ubuntu-latest</code>
PREVIEW:-
![2021-02-26 (2)](https://user-images.githubusercontent.com/65963997/109314307-2d33bb00-786f-11eb-9e0d-b5b629a8dd9f.png)
ERROR:-
![2021-02-26](https://user-images.githubusercontent.com/65963997/109313714-85b68880-786e-11eb-8002-700b72016f

[2021-02-26 17:18] Rahulm2310 commented on #80
@isabelcosta the PR for migrating to docusaurus #99 is under review. I can add the file in `docs` folder only after it gets merged. For now should I add the instructions to the PR description?

[2021-02-26 17:22] Rahulm2310 commented on #80
@isabelcosta the PR for migrating to docusaurus #99 is under review. I can add the file in `docs` folder only after it gets merged. For now should I add the instructions to the PR description?

[2021-02-26 18:27] Amulya-coder commented on #81
@codesankalp @isabelcosta  I would like to work on this issue.

[2021-02-27 07:14] codesankalp commented on #81
@decon-harsh Since you are assigned to https://github.com/anitab-org/open-source-programs-backend/issues/78 I am assigning this to @Amulya-coder.
@Amulya-coder You can take reference from this https://github.com/codesankalp/open-source-programs-backend/blob/activate/token_auth/views/register.py

[2021-02-27 07:22] decon-harsh commented on #81
Yeah sure , @Amulya-coder happy coding!

[2021-02-27 09:49] Subhangini commented on #91
Assign this issue to me .I would like to work on this

[2021-02-27 09:54] Subhangini commented on #69
Please assign this issue to me .I would like to work on it

[2021-02-27 12:55] isabelcosta commented on #91
@Subhangini assigned you the other first timer only issue #69 ;)

[2021-02-27 19:35] Rahulm2310 opened #105 "Bug: Remove irrelevant option from checklist in PULL_REQUEST_TEMPLATE.md"
### Describe the bug
There is a option ` I have written Kotlin Docs whenever is applicable` under the checklist in PULL_REQUEST_TEMPLATE.md. (I think due to copy-pasting the file from some other project).

### To Reproduce
Steps to reproduce the behavior:
1. Go to https://github.com/anitab-org/open-source-programs-backend/blob/develop/.github/PULL_REQUEST_TEMPLATE.md
2. See error

### Expected beh

[2021-02-28 05:01] codesankalp commented on #89
@himanshu007-creator The test will fail, for now, You can create a PR with a failing test.

[2021-02-28 09:15] codesankalp commented on #101
@isabelcosta Can I create an issue on the frontend also for this and start working on both as I will need the frontend to test the implementation from the backend?

[2021-02-28 12:46] isabelcosta commented on #101
Yes, you can do that and build the feature full stack. Do create the issue and link to this comment of mine and to this issue. @codesankalp

[2021-02-28 12:54] devkapilbansal commented on #105
@Aaishpra @Rahulm2310 aren't we not covering this in #91 ??

[2021-02-28 12:55] devkapilbansal commented on #73
@Srashtimittal are you working on this?

[2021-02-28 12:58] arkumari2000 commented on #105
If this is a valid issue and not get covered in any issue, Can I work on it?

[2021-02-28 13:03] Aaishpra commented on #105
You are right@devkapilbansal we can suggest this in the linked PR in #91
Thanks for mentioning it here.

[2021-02-28 13:06] devkapilbansal commented on #105
Closing this as there is an issue already for this.

[2021-02-28 13:06] #105 closed, assigned to nobody

[2021-02-28 13:25] 17sushmita commented on #91
Can this issue be assigned to me? I would like to work on it.

[2021-02-28 13:30] codesankalp commented on #91
Assigning you @17sushmita

[2021-02-28 17:36] codesankalp commented on #90
@khushishikhu Can you please edit the issue description?

[2021-03-01 04:35] Rahulm2310 commented on #105
@devkapilbansal  Yeah, we can cover it in #91. Thanks

[2021-03-01 04:38] Rahulm2310 commented on #91
@Amulya-coder can you please add the following point as well in the issue description as we have closed #105.
- There is a option `I have written Kotlin Docs whenever is applicable` under the checklist in PULL_REQUEST_TEMPLATE.md. (I think due to copy-pasting the file from some other project). This should be removed.

[2021-03-01 07:40] Amulya-coder commented on #91
Updated @Rahulm2310

[2021-03-01 08:40] Amulya-coder commented on #81
Api format
![image](https://user-images.githubusercontent.com/66437295/109471804-4a4ad280-7a97-11eb-9a5d-667407e4a2c4.png)

Json
![image](https://user-images.githubusercontent.com/66437295/109472638-6438e500-7a98-11eb-8a84-608d6df6b323.png)

@codesankalp can you please confirm me I have tried to reproduce the behaviour and it shows like this

[2021-03-01 08:46] codesankalp commented on #81
Yes, @Amulya-coder this is the issue as activation does not require any pre credentials for activating user, you have to make the activation method available without any auth credentials.
Compare the `views/register.py` and https://github.com/codesankalp/open-source-programs-backend/blob/activate/token_auth/views/register.py and you will get what's needed to be changed here.

[2021-03-01 09:38] b-thebest commented on #77
@isabelcosta Can I add unit test and work on this issue?

[2021-03-01 13:53] NenadPantelic commented on #60
Comments search is still in beta, maybe we can skip that at this point, cause it is stated that those endpoints are prone to changes. Also PRs are categorized as `open` and `closed`, `merge` state doesn't exist.
I implemented the following:
1. num of issues (opened issues)
2. num of made PRs -> open and closed (made PRs)
3. num of PR reviews
4. num of commits -> on only default branches
We can may

[2021-03-01 14:13] codesankalp commented on #60
@NenadPantelic
* Comments can be accessed using this https://docs.github.com/en/rest/reference/issues#comments
and if in the future it will change then I think we can change the API endpoint later.
* In the number of opened issues,  I want to ask will it contain the count of the open and closed issues?
* Can you include merged PRs count in num of made PRs as closed PRs are very less compared to me

[2021-03-01 15:00] jalajcodes commented on #60
@NenadPantelic
Hi, you can get merged PR's using `/search/issues` endpoint

Here's an example search query
 `q='is:merged is:pr author:username archived:false user:anitab-org'`

[2021-03-01 17:26] NenadPantelic commented on #60
@jalajcodes I found that soon after I wrote this comment, but I read that from my phone and wasn't able to update the comment, thanks anyway :slightly_smiling_face:. Interesting, they didn't categorized it in the state of the PR.

[2021-03-01 17:31] NenadPantelic commented on #60
I can get issue comments, but I thought I should get comments in general, like discussions (discussion endpoint is in BETA)? I think the issue description should be more detailed. I'm not sure also what's the significance of the comments count. Generally, in my opinion, created issues and assigned, made PRs (both merged and non-merged) and commits show the level of someone's contribution. I don't

[2021-03-01 17:52] codesankalp commented on #60
I think the comment count is needed for evaluating the interaction or engagement with the community. So that admin can sum up zulip messages and comments count to guess how much the contributor is involved in community @NenadPantelic. But I also don't know the accurate significance of the comments count as I am not present at the time when MVP was written.

[2021-03-02 05:23] ashwinijha6 commented on #90
@codesankalp & @devkapilbansal  I guess @khushishikhu means to say the `general guidelines` as mentioned in [here](https://github.com/anitab-org/mentorship-backend/blob/develop/.github/CONTRIBUTING.md), could be taken as a reference.
I could work on this.

[2021-03-02 05:26] ashwinijha6 commented on #88
Hey @isabelcosta could you pls assign me this issue I would like to work on this

[2021-03-02 05:33] codesankalp commented on #90
Okay, @ashwinijha6, Now I understand. @khushishikhu Can you edit the issue description and add the link as mentioned by @ashwinijha6.
I am adding labels and making it a first-timer issue.
@ashwinijha6 There is an issue already assigned to you. So I can't assign it to you for now.

[2021-03-02 05:38] khushishikhu commented on #90
@codesankalp sure I will edit the description of the issue . Sorry for the late reply actually I have been indulged with my university exams . Thank you for adding the labels

[2021-03-02 07:26] aakankshaagr commented on #4
Can I work on this issue if it's available?

[2021-03-02 07:30] aakankshaagr commented on #90
@khushishikhu I would like to work on this issue.

[2021-03-02 08:28] codesankalp commented on #90
Assigning you @aakankshaagr.

[2021-03-02 22:58] #91 closed, assigned to 17sushmita

[2021-03-02 23:05] isabelcosta commented on #77
According to order, I will assign to @AnubhavHooda . If there is no updates within 3 days I can assign it to you @b-thebest  :)

[2021-03-03 02:55] b-thebest commented on #77
Perfect 👍

[2021-03-03 05:11] sahil9001 commented on #77
Umm.. @isabelcosta According to order, I guess I asked it first, though there is no problem but still you gave it to the one who asked it secondly.

[2021-03-03 05:18] sahil9001 commented on #77
@Rahulm2310 @codesankalp

[2021-03-03 06:41] codesankalp commented on #77
@sahil9001, As you are assigned to another issue, You can't be assigned to a new issue according to community contributing guidelines.
You will get more issues to solve in the future. Don't worry much more about this.

[2021-03-03 11:44] NenadPantelic commented on #60
One more question and I'm done with this. I wasn't present when this feature was defined, so that's the reason I'm discussing it so much, sorry :sweat_smile:. GitHub stats of the user should be only oriented to that's user activity in AnitaB's projects or generally?

[2021-03-03 11:59] Aaishpra commented on #60
For AnitaB's projects specifically, no need of other project activity.

[2021-03-03 12:01] NenadPantelic commented on #60
Thanks @Aaishpra

[2021-03-03 13:56] NenadPantelic commented on #60
@Aaishpra can you please update this privilege table?

| -------------------|    Admin  |  Regular user for his own stats |
|--------------------|:------------:|-----------------------------------------:|
| read stat         |  YES/NO | YES/NO |
| create/update | YES/NO  | YES/NO |

Obviously, next time I'll be present when some feature is defined :joy:

[2021-03-03 15:35] Aaishpra commented on #60
Yes for all @NenadPantelic, I don't think there was any specific feature/privilege for the admin side or for the user side when it comes to Github Stats (the main privileges were given to admins for the forms section).

And don't worry about not being present for this feature discussion/definition, basically, this feature was suggested during the last GSoC but not implemented until now(and is a pa

[2021-03-03 20:20] codesankalp commented on #101
**Update:** Implemented the Github OAuth on both frontend and backend but facing problem in making jwt authorization. Will solve this problem and make a PR asap.

[2021-03-03 20:21] isabelcosta commented on #101
Awesome @codesankalp I love me some updates 💯 thank you!

[2021-03-05 05:25] chinmaym07 commented on #30
Update : Completed the backend implementation & tested using the frontend .
@codesankalp  @isabelcosta Can I also open the frontend issue for this ?
Will make the PR by today 😀

[2021-03-05 05:28] codesankalp commented on #30
Great @chinmaym07 :tada:
You can open the frontend issue for this.
Looking forward to seeing your PR.

[2021-03-05 08:05] Amulya-coder opened #111 "Bug : Incorrect link to reporting guidelines in CODE_OF_CONDUCT.md"
### Describe the bug
The links to reporting guidelines is incorrect in the code of conduct file.

### To Reproduce

1. Go to 'https://github.com/anitab-org/open-source-programs-backend/blob/develop/CODE_OF_CONDUCT.md'
2. Scroll down to Reporting guidelines section
3. Click on  [Reporting Guidelines](https://github.com/anitab-org/open-source-programs-backend/blob/develop/reporting_guidelines.md)
4.

[2021-03-05 08:09] Amulya-coder commented on #111
@isabelcosta can you please add a label to it as `First-Timer only` issue. Thanks 🙂

[2021-03-05 09:18] nlok5923 commented on #111
i would like t work on it as it will be mine first contribution to this open-source-programs backend.

[2021-03-05 12:48] codesankalp commented on #111
Assigning you @nlok5923 !

[2021-03-06 18:08] codesankalp commented on #47
Closing this issue as it is not approved and the login feature is present (JWT Authentication).
Although, we will create a new issue in the future for password resetting.

[2021-03-06 18:08] #47 closed, assigned to nobody

[2021-03-06 18:20] NeerajSati commented on #88
Can I Work on this?

[2021-03-06 18:24] codesankalp commented on #88
As @ashwinijha6 You are already assigned to an issue, I am assigning this to @NeerajSati.
@NeerajSati Assigning you!!

[2021-03-07 01:19] #84 closed, assigned to sahil9001

[2021-03-07 01:21] #111 closed, assigned to nlok5923

[2021-03-07 01:41] #75 closed, assigned to ashwinijha6

[2021-03-07 01:43] #89 closed, assigned to himanshu007-creator

[2021-03-07 01:48] #82 closed, assigned to devkapilbansal

[2021-03-07 08:10] ashwinijha6 commented on #90
Any updates on this @aakankshaagr ?

[2021-03-07 08:13] ashwinijha6 commented on #77
Any updates on this @AnubhavHooda ?

[2021-03-07 08:19] ashwinijha6 commented on #73
@codesankalp & @Rahulm2310 clicking on Reporting Guidelines works perfect for. Could u'll check once?

[2021-03-07 12:54] codesankalp commented on #73
@ashwinijha6 I think this issue is solved in https://github.com/anitab-org/open-source-programs-backend/pull/113.
I am closing this issue as it is fixed now.

[2021-03-07 12:54] #73 closed, assigned to Srashtimittal

[2021-03-07 14:42] codesankalp opened #114 "Add codecov badge in README"
## Description
As a developer,
I need to see the coverage report in the README,
so that I can know about the coverage and create more issues to increase coverage.

## Mocks

[![codecov](https://codecov.io/gh/anitab-org/open-source-programs-backend/branch/develop/graph/badge.svg)](https://codecov.io/gh/anitab-org/open-source-programs-backend)

## Acceptance Criteria
### Update [Required]
- [ ] Add

[2021-03-07 15:08] ashwinijha6 commented on #73
👍 @codesankalp

[2021-03-07 15:49] aakankshaagr commented on #90
Sorry, @ashwinijha6 I forgot to update. This is the first time I am documenting. I have followed the reference and made updates in contributing.md. I am just looking for more guidelines that I can place.

[2021-03-07 16:30] himanshu007-creator commented on #114
Can i work on this issue?
I have searched for it ,but to make it work , person requires admin / write rights of the repo.
![2021-03-07](https://user-images.githubusercontent.com/65963997/110247207-16891480-7f91-11eb-8665-d26b65bb037e.png)

[2021-03-07 18:54] codesankalp commented on #114
Assigning you @himanshu007-creator.
There are no permissions required for adding codecov badge.
And I don't know what you have searched but I am sure that there are no permissions required for adding a badge.

You just have to add a badge by adding this in the readme @himanshu007-creator :
`[![codecov](https://codecov.io/gh/anitab-org/open-source-programs-backend/branch/develop/graph/badge.svg)](h

[2021-03-08 05:45] aakankshaagr commented on #90
@ashwinijha6 I am creating a PR so that it would be easy for everyone to review.

[2021-03-08 06:49] ruddi10 opened #116 "Depreciated packages causing error in local setup"
### Describe the bug
I found that some of the packages in the requirements.txt are depreciated leading to error while trying to intall them on setup

### To Reproduce
Steps to reproduce the behavior:
1. Clone the repo
2. Then create a virtual environment (Advisable)
3. Then run pip install -r requirements.txt
4. See the error

### Expected behavior
It was expected that all the packages get sucessf

[2021-03-08 06:50] ruddi10 commented on #116
@isabelcosta  @codesankalp @Aaishpra  kindly assign this issue to me

[2021-03-08 07:13] ashwinijha6 commented on #90
Yeah sure @aakankshaagr

[2021-03-08 07:39] Aaishpra commented on #116
Can you try running the project without creating virtual environment on the terminal.

[2021-03-08 07:53] ashwinijha6 commented on #77
Hey @isabelcosta could I take up this issue ?

[2021-03-08 07:57] codesankalp commented on #116
Hey @ruddi10, This issue is related to pip and python. For now, there are no deprecated packages in requirements.txt.
According to your error building wheel for psycopg2 fails.
Try this:
[code]
NOTE:- Try the above commands after creating and activating virtual env.

So, I am closing this issue.
If you have another point regarding this issue feel free to reopen it or ask your questions in Zulip. :

[2021-03-08 07:57] #116 closed, assigned to nobody

[2021-03-08 08:05] ruddi10 commented on #116
@codesankalp I dont think its a very good approach requirements should work without prerequisites. I think upgrading packages is neccessary.

[2021-03-08 08:09] codesankalp commented on #116
Which packages are you going to upgrade @ruddi10?
So that this issue will be solved.
As far as I know this error is related to python and pip and didn't require dependency update.

[2021-03-08 08:16] ruddi10 commented on #116
psycopg2,pylint,astroid @codesankalp

[2021-03-08 08:18] ruddi10 commented on #116
I have solved this issue on my local development environment by doing so and its working fine just waiting for your approval to fix it.

[2021-03-08 08:47] codesankalp commented on #116
Can you comment on the content of your requirements.txt here @ruddi10?
pylint will be deleted in the future as flake8 is the current linter.
And astroid version is the default version recommended by Django and I don't suggest changing it manually.
Is changing the version of psycopg2 solved your problem?

[2021-03-08 08:51] ruddi10 commented on #116
Yup those two were additional error that happened due to pylint depreeated version

[2021-03-08 08:53] ruddi10 commented on #116
The screenshot of the error that I have posted will b solved by updating the psycopg2 package other two are not neccessary @codesankalp

[2021-03-08 08:55] ruddi10 commented on #116
Like once you willl solve the above issue and rerun the requirements file once more error will be thrown due to depreceated version of pylint and that version requires newer version of astroid thats why I changed those too also

[2021-03-08 09:01] codesankalp commented on #116
@ruddi10 I am still not in favor of changing the requirements.txt because for example if you see the installing dependencies in GitHub workflow build, you will see that there are no problems related to dependency updates.
But If in future other contributors faces this problem I will reopen this issue.

[2021-03-08 09:03] codesankalp commented on #116
Which python version are you using?

[2021-03-08 09:06] ruddi10 commented on #116
3.8.5

[2021-03-08 09:08] codesankalp commented on #77
@AnubhavHooda Please update your progress?
Or you want to unassign yourself?

[2021-03-08 09:38] b-thebest commented on #78
This issue is completed, or still something needs to be done ?

[2021-03-08 09:39] decon-harsh commented on #78
I have to mock the zulip functionalities @b-thebest

[2021-03-08 09:41] b-thebest commented on #77
Looking forward to work on this issue as there is no update from @AnubhavHooda

[2021-03-08 21:11] isabelcosta commented on #78
@b-thebest could you help reviewing the PR? https://github.com/anitab-org/anitab-forms-backend/pull/94
Also, @decon-harsh do you need help mocking zulip functionalities? also, did you update your branch? the tests are now passing on branches, because of recent merges

[2021-03-08 21:16] decon-harsh commented on #78
@isabelcosta i updated my branch , but still the tests are falling , it's because of a migration issue .

Comming to mocking zulip functionalities I might need some more time as I am working on an issue in BIT and I have exams too this week ! I will try to do as soon as possible. Will this works or I should prioritise it above?

[2021-03-08 21:20] isabelcosta commented on #78
If you could provide an update on this, in the next 3 days is fine, according to our contributing guidelines. It's also okay, to leave this issue if you prefer @decon-harsh
I'll take a look at your PR, to see what is failing

[2021-03-08 21:22] decon-harsh commented on #78
Yes that will work. I will try to do it asap! Thank you

[2021-03-08 22:10] devkapilbansal opened #118 "bug: Secret key not passed in Github Workflow"
### Describe the bug
GitHub CI raises ValueError as Secret Key is not passed in environment.

### To Reproduce
Steps to reproduce the behavior:
1. Go to `https://github.com/anitab-org/anitab-forms-backend/actions`
2. Navigate through some latest workflow runs
4. See error

### Expected behavior
Workflows should run without raising any error.

### Additional context
You can refer official doc [here

[2021-03-09 03:41] b-thebest commented on #78
Yeah sure

[2021-03-09 07:12] ashwinijha6 commented on #118
@devkapilbansal I would like to work on this

[2021-03-09 08:56] devkapilbansal commented on #118
Sorry, @ashwinijha6 This issue is first timer only and you already create a PR on #75

[2021-03-09 14:20] ashwinijha6 commented on #118
Ok @devkapilbansal 👍

[2021-03-09 15:16] codesankalp opened #120 "Change links and text to the current repository name"
## Description
As a contributor,
I need all the links and text that is using `open-source-programs-backend` changed into `anitab-forms-backend`,
so that there is no confusion and 404 pages for newcomers.

## Acceptance Criteria
### Update [Required]
- [ ] Change `open-source-programs-backend` to `anitab-forms-backend`.

## Definition of Done
- [ ] All of the required items are completed.
- [ ] App

[2021-03-10 05:18] HeroicHitesh commented on #120
@codesankalp I would like to work on this

[2021-03-10 05:26] codesankalp commented on #120
Assigning you @HeroicHitesh .

[2021-03-10 06:03] HeroicHitesh commented on #120
@codesankalp There are a few folders and files whose name contains `osp` what should that be renamed to?

[2021-03-10 06:35] codesankalp commented on #120
Just change links and text and avoid changing any code.

[2021-03-10 21:50] #114 closed, assigned to himanshu007-creator

[2021-03-10 21:51] #90 closed, assigned to aakankshaagr

[2021-03-10 21:52] #69 closed, assigned to Subhangini

[2021-03-11 09:59] codesankalp commented on #63
@jalajcodes Any updates?

[2021-03-11 10:02] codesankalp commented on #77
Unassigning @AnubhavHooda for not updating about the progress.
Assigning @sahil9001. Happy Coding :rocket:

[2021-03-11 10:03] codesankalp commented on #88
@ashwinijha6 Assigning this to you. :rocket:

[2021-03-11 13:52] jalajcodes commented on #63
I am currently working on a issue in stem-diverse-tv-cms , so feel free to assign this one to someone else, or if it's still available I'll take it up after that. Sorry for the inconvenience.

[2021-03-13 17:25] imperishableSecret commented on #77
@codesankalp @isabelcosta I apologize for the inconvenience caused due to me not updating about my progress.

[2021-03-13 17:54] sahil9001 commented on #77
Hey @AnubhavHooda ! I think I won't be able to do this because of my exams, schedule is quite hectic, Can you take it?

[2021-03-14 06:04] imperishableSecret commented on #77
@isabelcosta Please assign me as @sahil9001  is unable to continue with this issue

[2021-03-18 16:14] epicadk opened #122 "Bug : Install requirements first in docker"
### Describe the bug

This will result in the requirements being downloaded again even if small changes are made to the code.

### Expected behavior

Install requirements before copying the code.

### Resources that could help

https://docs.docker.com/compose/django/
https://github.com/anitab-org/stem-diverse-tv/blob/master/Dockerfile

[2021-03-28 03:21] Aaishpra opened #125 "Chore: Add all-contributors bot configuration"
## Description

As a maintainer,
I need to configure an all-contributors bot,
so that I can better recognize the contributors and leaders of this project.

-  https://allcontributors.org/docs/en/bot/configuration

## Acceptance Criteria
### Update [Required]

- [ ] Add configuration to project https://allcontributors.org/docs/en/bot/configuration

- [ ]    Add first contributors to table

## Defin

[2021-03-28 03:51] codesankalp opened #127 "[docs] Migrate docusaurus deployment from surge to gh-pages"
### Is your feature request related to a problem? Please describe.
It will be better to have the docs on the github-pages.

### Describe the solution you'd like
Deploy the docs on gh-pages.
Take reference from this: anitab-org/mentorship-backend@4cc78ae

[2021-04-02 15:14] #125 closed, assigned to nobody

[2021-04-02 15:30] isabelcosta commented on #88
@ashwinijha6 are you still interested in this issue? I will unassign due to almost one month's of inactivity. Let me know if you interested, and we can assign again.

[2021-04-02 15:52] #118 closed, assigned to nobody

[2021-04-02 16:36] ashwinijha6 commented on #88
I'm so sorry for the delay @isabelcosta. I'm a bit busy at the moment you can unassign me & make it available for others.

[2021-04-02 16:47] isabelcosta commented on #88
No problem at all @ashwinijha6 :) Good luck with your other commitments 🙏🏾  you're always welcome to come and contribute 🤗

[2021-04-02 17:12] isabelcosta commented on #125
@all-contributors please add @Aaishpra for maintenance

[2021-04-02 17:15] isabelcosta commented on #125
@all-contributors please add @codesankalp for maintenance

[2021-04-02 17:24] ashwinijha6 commented on #88
Thankyou for understanding @isabelcosta. I'll surely be back once I finish up my work ❤️

[2021-04-02 17:27] codesankalp commented on #88
As https://github.com/anitab-org/anitab-forms-backend/pull/109 PR is almost complete I can work on this. What do you think @isabelcosta?

[2021-04-02 17:43] isabelcosta commented on #122
@epicadk can you provide any documentation a link a contributor can look to, to complete this? is this already done in any of our projects for example?

[2021-04-02 17:45] isabelcosta commented on #88
Yes @codesankalp I think this could be useful to contributors to get this solved.

[2021-04-02 17:49] codesankalp commented on #122
@isabelcosta 4th line of point 3 of this page https://docs.docker.com/compose/django/
I think @epicadk is working on docker (stem-diverse-tv: [here](https://github.com/anitab-org/stem-diverse-tv/blob/master/Dockerfile) ) when we discussed it.
It will save time during development and other tasks by skipping installation again and again.

[2021-04-02 19:37] epicadk commented on #122
Also has been done on mentorship android.

[2021-04-03 15:08] isabelcosta commented on #125
@all-contributors please add @keshakaneria for maintenance

[2021-04-03 15:25] isabelcosta commented on #4
Will close this, as it does not make a lot of sense, as it is not linked to issues and not properly described. This is from GSoC 2020. @aakankshaagr there are other issues, could you  look at those, happy to assign you another from there.

[2021-04-03 15:25] #4 closed, assigned to nobody

[2021-04-03 16:45] #120 closed, assigned to HeroicHitesh

[2021-04-09 23:40] #88 closed, assigned to codesankalp

[2021-04-11 17:46] codesankalp opened #135 "[deps] Update dependency"
## Description
As a developer,
I need all dependencies to be updated,
so that there are no security issues and no problems related to setup

## Acceptance Criteria
### Update [Required]
- [ ] [Update the dependency in requirements.txt]
- [ ] [Test backend is working fine after changing dependency.]

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

#

[2021-04-14 21:15] #81 closed, assigned to Amulya-coder

[2021-04-15 05:31] codesankalp opened #136 "Create env template"
## Description
As a Developer,
I need a template for environment variables,
so that I can more focus on development and not on setting up the environments.

## Acceptance Criteria
### Update [Required]
- [ ] [Create `.env.template` file in root project directory].
- [ ] [Add all the env variables with descriptive comments].

## Definition of Done
- [ ] All of the required items are completed.
- [

[2021-04-15 13:51] epicadk commented on #122
I'd like to work on this.

[2021-04-15 14:12] codesankalp commented on #122
Assigning you @epicadk.

[2021-04-23 10:11] Amulya-coder commented on #136
@codesankalp I would like to work on this issue.

[2021-04-23 10:42] codesankalp commented on #136
Assigning you @Amulya-coder

[2021-04-23 13:17] Amulya-coder commented on #136
@codesankalp I have created a pr can you please review it.

[2021-04-24 14:05] #122 closed, assigned to epicadk

[2021-04-25 19:00] Amulya-coder commented on #127
Hey @codesankalp when the label changes to `Needs review` on #136  I would like to work on this issue as well because if the issue is in reviewing phase then we can claim other issues as well right?

[2021-04-29 14:42] Aaishpra opened #139 "Change links and text to the current repository name"
### Description
As a contributor,
I need all the links and text that is using` open-source-programs-backend` changed into `anitab-forms-backend`,
so that there is no confusion and 404 pages for newcomers.

### Acceptance Criteria
### Update Required

- [ ] Change open-source-programs-backend to anitab-forms-backend.

### Definition of Done

- [ ] All of the required items are completed.

- [ ]   A

[2021-05-05 19:37] #136 closed, assigned to Amulya-coder

[2021-06-18 08:59] untari commented on #139
Hi, does anyone working on this issues? If not may I work on it?

[2021-06-18 09:07] Aaishpra commented on #139
Assigned you @untari

[2021-06-18 09:35] untari commented on #139
Hi @Aaishpra  I did check all the files, the link and text has been change to the current repository name

[2021-06-19 07:10] Aaishpra commented on #139
Hey @untari I see some instances of Open Source program backend in the readme, (in the main heading and then in contact us section) can you please change that? if you didn't find anything in other files.

[2021-06-19 07:14] untari commented on #139
will do, thanks for the heads up

[2021-06-19 07:14] Aaishpra commented on #139
[Here](https://github.com/anitab-org/anitab-forms-backend#open-source-programs-backend) and in `#open-source-programs` in [contact](https://github.com/anitab-org/anitab-forms-backend/blob/develop/README.md#contact)

[2021-06-19 09:01] untari commented on #139
hi @Aaishpra I'm not be able to make the changes, as everytime I push my changes it said run failed. you might want to unassigned me. thanks

[2021-06-19 09:03] Aaishpra commented on #139
You can submit a PR @untari ,no issues if checks are failing, we can still review it.

[2021-09-23 04:59] gauravgulati15 commented on #135
Hi @codesankalp, can I take up this issue?

[2021-09-23 06:46] codesankalp commented on #135
Go ahead @gauravgulati15

[2021-09-23 06:47] codesankalp commented on #135
Try to test the dependency with the latest python versions as well.

[2021-09-23 06:52] gauravgulati15 commented on #135
Okay, Thanks!

[2021-09-24 10:08] gauravgulati15 commented on #135
Hi @codesankalp, when I am clicking on the Zulip stats reload icon I am getting an internal server error.
![image](https://user-images.githubusercontent.com/56128284/134657748-99d65cba-6742-4ade-9506-9a1d386c1273.png)
![ERROR](https://user-images.githubusercontent.com/56128284/134657799-a373406e-9599-43af-9864-1e63a97f1aab.png)
I have put the download file of Zulip API key in root folder of backen

[2021-09-24 12:16] codesankalp commented on #135
Is zulip stats start showing when you click on refresh button on zulip stats card?

[2021-09-24 12:36] gauravgulati15 commented on #135
No!

[2021-09-25 14:35] codesankalp commented on #135
@gauravgulati15 Make sure that the file name of the API key should be download.

From the error, it is showing that there is a KeyError of messages, so I think this is from zulip API and we should handle this exception carefully. I will create a new issue for that, in the meantime you can do this change for avoiding this error:
![image](https://user-images.githubusercontent.com/56037184/134775160-

[2021-09-25 14:51] gauravgulati15 commented on #135
Okay, the file name is download already. I will do your changes. Thanks

[2021-09-25 15:17] gauravgulati15 commented on #135
@codesankalp after doing your suggested changes, getting this error.
![image](https://user-images.githubusercontent.com/56128284/134776500-92c5a11f-aff8-4540-af41-8d58981f1db0.png)

[2021-10-01 19:36] #139 closed, assigned to untari

[2021-10-02 18:06] gauravgulati15 commented on #135
@codesankalp any update?

[2021-10-02 18:14] codesankalp commented on #135
@gauravgulati15 One general question, Have you send any message on zulip chats of anitab-org ever?

[2021-10-02 18:14] codesankalp commented on #135
I am trying this and it is working fine for me.

[2021-10-02 18:23] codesankalp commented on #135
@gauravgulati15 Are you using the correct zulip id?
Because when I tried with your zulip id, it is giving this
[code]

[2021-10-03 06:49] gauravgulati15 commented on #135
No

[2021-10-03 06:49] gauravgulati15 commented on #135
yes, should I recreate the account?

[2021-10-03 14:04] codesankalp commented on #135
@gauravgulati15 I think the zulip ID is incorrect, you can try recreating the account but please check zulip id.

[2021-10-03 17:56] codesankalp opened #157 "Remove djangorestframework-jwt as it is deprecated"
### Describe the bug

While using python3.9 djangorestframework-jwt gives conflict with djangorestframework-simplejwt and the setup became complex.

### To Reproduce
Steps to reproduce the behavior:
1. Install by following steps in README.

### Expected behavior
No errors and simple installation.

### Screenshots
![image](https://user-images.githubusercontent.com/56037184/135765719-361bb322-409d-4

[2021-10-03 18:44] moazfarrukh commented on #157
can i be assigned with this issue?

[2021-10-03 18:45] isabelcosta commented on #157
@moazfarrukh it's yours!
@codesankalp thank you for creating this 🙌🏾

[2021-10-03 19:34] moazfarrukh commented on #157
@codesankalp @isabelcosta i have found out that it all works perfectly with the version 4.6.0 of simple jwt
problems only occur while using the versions 4.4.0 and 4.8.0
so changing the requirements.txt  to djangorestframework-simplejwt==4.6.0
fixes the issue
should i make a pull request with this change?

[2021-10-08 18:35] isabelcosta commented on #127
@Amulya-coder would you still like to work on this?

[2021-10-09 03:57] codesankalp commented on #157
@moazfarrukh Sorry for the late reply, but I think removing it will be the better option here because the package is deprecated and will cause problems in the future.

[2021-10-09 04:02] moazfarrukh commented on #157
Ok i will change my pull request

[2021-10-09 05:26] moazfarrukh commented on #157
@codesankalp i have made a pull request. awaiting review

[2021-10-09 17:30] #157 closed, assigned to moazfarrukh

[2021-10-15 19:40] wizardlekic commented on #127
@isabelcosta hello, me again, I would like to try and tackle this one 😁

[2021-10-16 09:59] Amulya-coder commented on #127
@isabelcosta You can make this issue available to other contributors

[2021-10-16 11:31] codesankalp commented on #127
@WizardLemon You can go ahead :+1:

[2021-10-17 19:39] wizardlekic commented on #127
I've tried to test out deployment on my own branch, but I'm having some trouble setting up the appropriate secret key for deployment.

I'll investigate it for a while longer, and I'll continue on with it tomorrow, but for now I'm putting up the PR so that the workflow file can be reviewed, maybe someone knows what needs to be done, or can give me some helpful advice.

[2021-10-17 20:27] wizardlekic commented on #127
Update: I've managed to successfully deploy the documentation to https://wizardlemon.github.io/anitab-forms-backend/ using the workflow actions after updating the docusaurus config file.

I've figured out the issues I had with secret keys, and the config file also needed to be updated. If there's any more assistance that's neccessary with this migration, or if documentation updated are necessary a

[2021-10-17 20:42] isabelcosta commented on #60
fixed in #119

[2021-10-17 20:42] #60 closed, assigned to NenadPantelic

[2021-10-17 20:44] isabelcosta commented on #127
I think this https://docusaurus.io/docs/deployment#deploying-to-github-pages will allow me to configure things correctly. But if you feel there is any documentation about this that is related specifically to this project, feel free to create it or create an issue for it ;)

[2021-10-17 21:03] isabelcosta opened #160 "Rename references to Open Source programs to AnitaB Forms on Docusaurus"
## Description

Rename references to Open Source programs to AnitaB Forms on Docusaurus.

Here's an example:
![docusaurus main page](https://user-images.githubusercontent.com/11148726/137644892-fc560457-ff7f-4b3b-b9ea-e38a943a49c7.png)

## Acceptance Criteria
### Update [Required]
- [ ] Rename references to Open Source programs to AnitaB Forms on Docusaurus pages

## Definition of Done
- [ ] All o

[2021-10-17 22:00] pranjal-arora commented on #160
Hello! I would like to take up this issue! Please do make me an assignee.

[2021-10-17 23:16] isabelcosta commented on #160
sure @pranjal-arora :)

[2021-10-18 10:47] pranjal-arora commented on #160
@isabelcosta hey, do I just have to rename "Open Source Programs" to "AnitaB Forms" in the files:- docusaurus.config.js and index.js
OR do I also need to rename it in the yml files (qa-checks.yml) and markdown files as well (eg. README.md, CONTRIBUTING.md, Home.md etc.) ?

[2021-10-18 11:06] isabelcosta commented on #160
@pranjal-arora only docusaurus related files. The rest is optional, but if you add them, I'll accept those as well :)

[2021-10-20 10:47] #160 closed, assigned to pranjal-arora